.input-wrapper {
    margin: 16px auto;
    position: relative;
    padding-top: 20px;
    letter-spacing: 0.5px;
}

.input-wrapper > input {
    min-width: 120px;
    width: 100%;
    font-size: 15px;
    letter-spacing: 0.5px;
    border: solid 1px #000;
    border-radius: 4px;
    padding: 10px 7px 10px 10px;
    transition: all 0.5s;
    margin-top: 4px;

    &:active,
    &:focus {
        outline: none;
        border-color: #4776e6;
    }
}

.input-wrapper > input:focus + label,
.input-wrapper > input:active + label {
    color: #4776e6;
}

.input-wrapper > input.error {
    border-color: #ff1100;
}

.input-wrapper > input.error + label {
    color: #ff1100;
}

.input-wrapper > label {
    font-size: 14px;
    color: #666;
    display: block;
    position: absolute;
    top: 0px;
    width: 100%;
    cursor: text;
}

.error-message {
    font-size: 13px;
    color: #ff1100;
    padding: 7px 0rem 0px 0px;
    min-height: 25px;
}

.suggestions-wrapper {
    list-style: none;
    display: block;
    position: absolute;
    transition: all 0.5s;
    box-shadow: 0 3px 7px 0px rgba(88, 88, 88, 0.2);
    background-color: #fff;
    width: 100%;
    z-index: 3;
}

.suggestions-item {
    padding: 12px;
    border-bottom: solid 1px #e8e8e8;
}
