* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;

  &:active,
  &:focus {
    outline: none;
  }
}

@mixin button-default {
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.8rem;
  width: 2.2rem;
  cursor: pointer;
  background: #fff;
  border: solid 1px #000;
  border-radius: 4px;

  &:hover {
    box-shadow: 0 0 7px 1px rgba(192, 192, 192, 0.5);
  }
}
