@import "../../App.scss";

.list-page-wrapper {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 14px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #4776e6;
    background: -webkit-linear-gradient(to right bottom, #8e54e9, #4776e6);
    background: linear-gradient(to right bottom, #8e54e9, #4776e6);
}

.list-card {
    overflow: hidden;
    padding: 2rem;
    border-radius: 10px;
    max-width: 700px;
    min-width: 500px;
    background-color: #fff;
    box-shadow: 0 0 16px 13px rgba(212, 212, 212, 0.2);

    @media screen and (max-width: 768px) {
        max-width: 100%;
        min-width: 365px;
        padding: 1rem;
    }
}

h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 28px;
    letter-spacing: 1px;
    text-align: center;
    padding: 1rem 0rem 1rem 1rem;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.sort-btn {
    @include button-default;
    width: fit-content;
    height: auto;
    padding: 3px;
    margin-left: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #000;
    font-size: 14px;

    &.active {
        background-color: #4776e6;
        color: #fff;
        border-color: #4776e6;
        outline: none;
    }
}
